.card_Food {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease
}

.card_Food:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.card_Food .img_Food {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 10px;
}

.card_Food .title_price_Food{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.card_Food .title_Food {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}

.card_Food .price_Food {
    font-size: 22px;
    color: #FFA940;
    margin-top: 10px;
    font-weight: bold;
}

.card_Food .description_Food {
    font-size: 20px;
    color: #000;
    margin: 5px 0px 0px 0px;
    text-align: left;
    height: 50px;
    width: 100%;
}

.card_Food .rating_button_Food {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}

.card_Food .star_Food {
    width: 18px;
    margin-right: 5px;
}

.card_Food .poin_rating {
    font-size: 20px;
    font-weight: regular;
    margin-left: 5px;
}

.card_Food .button_Food {
    margin-top: auto;
    padding: 8px 20px;
    background-color: #FFA940;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}